<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <title>RealTM</title>
  <!-- jQuery CDN -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <!--xeicon cdn-->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/xpressengine/xeicon@2.3.1/xeicon.min.css">
  <!-- Slick Slider -->
  <link rel="stylesheet" href="./public/js/slick/slick.theme.css">
  <link rel="stylesheet" href="./public/js/slick/slick.css">
  <script src="./public/js/slick/slick.min.js"></script>
  <!-- TypeIt -->
  <script src="./public/js/typeit/typeit.min.js"></script>
  <script src="./public/js/typeit/typeit.js"></script>
  <!-- Custom CSS & JS -->
  <link rel="stylesheet" href="./public/css/homestyle.css">
  <link rel="stylesheet" href="./public/css/homeresponsive.css">
  <!-- <link rel="stylesheet" href="./public/css/roomstyle.css"> -->
  <script src="./public/js/custom.js"></script>
</head>

<body>
  <div class="container">
    <!-- Header -->
    <header>
      <div class="header-inner">

        <div class="logo">
          <h1>RealTM</h1>
        </div>

        <div class="nickname">
          <% if(is_logined === true){ %>
          <h3><%= user_nickname %> 회원님 환영합니다!</h3>
          <% } %>
        </div>

        <div class="menu"> <!-- 수정할 때 참고 : menu active-->
          <% if(is_logined === true){ %>
          <a href="http://localhost:4000/logout" id="logoutButton">로그아웃</a>
          <% } else { %>
          <a href="http://localhost:4000/login" id="loginmenu">로그인</a> <!-- login.html -->
          <a href="http://localhost:4000/join" id="joinmenu">회원가입</a> <!-- join.html -->
          <% } %>
          <a href="http://localhost:4000/room" id="roommenu">방 입장</a> <!-- room.html -->
          <!--"http://localhost:4000/room" -->
        </div>
      </div>
      <!-- trigger -->
      <div class="trigger"></div> 
    </header>
  </div>

  <!-- welcome -->
  <section class="welcome">
    <div class="slide">
      <img src="public/image/zoom1.jpg">
      <img src="public/image/zoom2.jpg">
      <img src="public/image/zoom3.png">
    </div>

    <div class="welcome-heading">
      <h1>
        Real-Time-Meeting
        <em id="typing"></em>
      </h1>
       <p>
        Using WebRTC
      </p> 
    </div>
  </section>
</body>
</html>